#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    & img {
        width: 100%;
        height: 268px;
        object-fit: cover;
    }
}

@media (width >= 80em) {
    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        padding-block: 1.5rem;

        & img {
            width: 286px;
            height: 286px;
            object-fit: cover;
        }
    }
}